[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
emoji = "*"
googlemaps = "*"
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-migrate = "*"
environs = "*"

[requires]
python_version = "3.9"
