[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
flake8-isort = "*"
mypy = "*"

[packages]
tweepy = "*"
emoji = "*"
googlemaps = "*"
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-migrate = "*"
environs = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9.13"

[pipenv]
allow_prereleases = true

[scripts]
test = "python -m unittest discover tests"
